<template>
    <!-- =========================
        START FORM TITLE SECTION
    ============================== -->
    <section v-if="step1" class="form_title_area">
        <div class="container">
            <div class="row">
                <div class="step col-md-12">
                    <ul>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form_step_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_step_inner text-center">
                            <h3 v-text="__('LA RISTRUTTURAZIONE CHE LA TUA CASA VUOLE')"></h3>
                            <h2 v-text="__('Richiedi un preventivo gratuito')"></h2>
                            <p>
                                <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                                <br> 
                                <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                                <br> 
                                <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                            </p>
                        </div>
                    </div>

                    <div class="welcome_form_area form_step_1area">
                        <div class="col-md-12">
                            <form @submit.prevent="nextStepTwo">
                                <div v-if="errorStep1" class="form-group">
                                    <div class="errors" v-if="errors">
                                        
                                            <p class="text-danger" v-for="(fieldsError, fieldName) in errors" :key="fieldName">
                                              - {{ fieldsError.join('\n') }}
                                            </p>
                                        
                                    </div>
                                </div>
                                <div class="welcome_form_inner">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="inputCity" v-model="form.name" placeholder="Mario Ross">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="inputZip" v-model="form.phone" placeholder="Mobile phone">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input v-model="form.email" type="text" class="form-control" id="inputphone" placeholder="Email address">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select v-model="form.room" id="inputState" class="form-control">
                                                <option selected>Room</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input v-model="form.privacy" class="form-check-input" type="checkbox" id="gridCheck" required>
                                            <label class="form-check-label" for="gridCheck">
                                                <span v-text="__('Inviando questo form autorizzi Ristrutturazione Case a contatti per fini')"></span> <br> <span v-text="__('commerciali. Dichiari inoltre di aver letto e di accettare la Privacy Policy.')"></span>  
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <button type="submit" class="btn">Passo successivo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
        START FORM TITLE SECTION
    ============================== -->

    <!-- =========================
        START FORM TITLE SECTION
    ============================== -->
    <section v-else-if="step2" class="form_title_area">
        <div class="container">
            <div class="row">
                <div class="step col-md-12">
                    <ul>
                        <li v-on:click="nextStepOne">1</li>
                        <li class="active">2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form_step_area form_step_2wrapper">
            <div class="container">
                <div class="row">
                    <form @submit.prevent="nextStepThree" enctype="multipart/form-data">
                        <div v-if="errorStep2" class="form-group">
                            <div class="errors" v-if="errors">
                                    <p class="text-danger" v-for="(fieldsError, fieldName) in errors" :key="fieldName">
                                      - {{ fieldsError.join('\n') }}
                                    </p>
                                
                            </div>
                        </div>
                        <div class="form_step_2area">
                            <div class="col-md-12">
                                <div class="form_step_2_inner">
                                    <p>Hello {{ form.name }}, <span v-text="__('grazie. Adesso le richiedo informazioni più dettagliete sulla ristrutturazione.')"></span> </p>
                                    <h2>Renovation description</h2>
                                    <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>
                                    <div class="form_step_2">
                                        <h2>Do you need to add attachment?</h2>
                                        <p>* Sono ammessi file max 10mb, pdf, png, jpg, jpeg</p>
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="up_btn">Choose</button>
                                        <input type="file" name="myfile" id="file" ref="file" v-on:change="handleFileUpload()"/>
                                    </div>
                                    <h2 class="chosse_meet">Choose the data for the meeting</h2>
                                    <div class="date_picker_wrapper clearfix">
                                        <div class="date_picker_area">
                                            <div class="">
                                                <i class="material-icons">today</i>
                                                <datepicker v-model="form.date" id="datepicker" placeholder="28/02/2018"></datepicker styele="top: -25px;">
                                            </div>
                                            <p v-text="__('L’appuntamento telefonico ha scopo di analizzare il progetto, la fattibilità, costi e tempistiche generali non vincolanti.')"> </p>
                                        </div>
                                        <div class="form_2_submit">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input v-model="form.wantArchitect" class="form-check-input" type="checkbox" id="gridCheck">
                                                    <label class="form-check-label" for="gridCheck">
                                                        <b v-text="__('Desidero il sopralluogo')"></b> <br> 
                                                        <span v-text="__('Un Architetto incaricato verrà a')"> <br>  <span v-text="__('isionare l’appartamento o')"></span>v <br> <span v-text="__('il negozio')"></span> </span>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="date_picker_area date_picker_last">
                                            <h2 v-text="__('Se si, indicami la città')"></h2>
                                            <div class="flag_inner">
                                                <i class="material-icons">flag</i>
                                                <input type="text" v-model="form.flag" id="flag_input" placeholder="Milano" width="" />
                                            </div>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
        START FORM TITLE SECTION
    ============================== -->

    <!-- =========================
        START FORM TITLE SECTION
    ============================== -->
    <section v-else-if="step3" class="form_title_area">
        <div class="container">
            <div class="row">
                <div class="step col-md-12">
                    <ul>
                        <li v-on:click="nextStepOne">1</li>
                        <li v-on:click="nextStepTwo">2</li>
                        <li class="active">3</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form_step_area form_step_3wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_step_3area">
                            <span><img :src="core.Asset_Path+'images/step3shapre.png'" alt=""></span>
                            <p>Ciao {{ form.name }}, <span v-text="__('grazie. Abbiamo preso in carico la tua richiesta di preventivo. Un incaricato si metterà in contatto con te. Abbiamo anche provveduto ad invitarti una copia della richiesta sulla tua casella email.')"></span>  </p>
                            <div class="pdf_dl">
                                <p><b v-text="__('Preventivo numero:')"></b> 1234321</p>
                                <p><b><router-link :to="'/pdf'" href="javascript:void(0)" >Download PDF</router-link></b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
        START FORM TITLE SECTION
    ============================== -->
</template>

<script>
    import validate from 'validate.js';
    import Datepicker from 'vuejs-datepicker';
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'
    Vue.use(VueAxios, axios);

    export default {
        name: 'about',
        data() {
            return {
                core : core,
                selectAMb : 0,
                step1: true,
                step2: false,
                step3: false,
                errorStep1: false,
                errorStep2: false,
                file: '',
                form: {
                    name: '',
                    phone: '',
                    email: '',
                    room: '',
                    date: '',
                    flag: '',
                    wantArchitect: ''
                },
                errors: null
            }
        },
        methods: {
            nextStepOne: function(){
                
                this.step1 = true;
                this.step2 = false;
                this.step3 = false;
            },
            nextStepTwo: function(){
                const constraints = this.getConstraintsOne();
                const errors = validate(this.$data.form, constraints);

                if(errors) {
                    this.errorStep1 = true;
                    this.errors = errors;
                    return;
                }
                this.step1 = false;
                this.step2 = true;
                this.step3 = false;
            },
            nextStepThree: function(){
                // const constraints = this.getConstraintsTwo();
                // const errors = validate(this.$data.form, constraints);

                // if(errors) {
                //     this.errorStep2 = true;
                //     this.errors = errors;
                //     return;
                // }
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('name', this.form.name);
                formData.append('phone', this.form.phone);
                formData.append('email', this.form.email);
                formData.append('room', this.form.room);
                formData.append('date', this.form.date);
                formData.append('flag', this.form.flag);

                axios.post( '/api/send-mail',
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then(function(response){
                    this.form.file = response.data.file;
                    this.step1 = false;
                    this.step2 = false;
                    this.step3 = true;

                    this.form.file = this.file.name;
                    localStorage.removeItem("formData");
                    localStorage.setItem("formData", JSON.stringify(this.form));

                    console.log(JSON.parse(localStorage.getItem('formData')));
                })
                .catch(function(){
                    console.log('FAILURE!!');
                });

                

                
            },
            getConstraintsOne() {
                return {
                    name: {
                        presence: true,
                        length: {
                            minimum: 2,
                            message: 'must be at least 3 characters long'
                        }
                    },
                    phone: {
                        presence: true,
                        length: {
                            minimum: 7,
                            message: 'must be at least 7 characters long'
                        }
                    },
                    email: {
                        presence: true,
                        email: true
                    },
                    room: {
                        presence: true,
                        length: {
                            minimum: 1,
                            message: 'must be selected'
                        }
                    }
                };
            },
            getConstraintsTwo() {
                return {
                    date: {
                        presence: true,
                        datetime: {
                            dateOnly: true,
                            message: "^You need to add date"
                        }
                    }
                };
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
                console.log(this.file);
            }
        },
        components: {
            Datepicker
        }

    }
</script>

<style scoped>
    .step{
        z-index: 1;
    }
    .form_title_area ul li{
        padding-top: 13px;
    }

    .vdp-datepicker{
        margin-top: -25px !important;
    }
</style>