<template>
	<!-- =========================
            START RESTRUCTURE SECTION
        ============================== -->
        <section class="restructure_area ">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('SONO ESPERTO IN ARREDAMENTO CONTEMPORANEO')"></h3> 
                            <h2 v-text="__('Scegli il tuo ambiente')"></h2>
                            <span></span> 
                            <p>
                                <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                                <br> <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                                <br> <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                            </p>                          
                        </div>
                    </div>
                </div>                
            </div>
            <div class="single_page_content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_page_content_inner">
                                <p>
                                    <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque libero sed tincidunt elementum. Praesent elementum, risus nec dictum consectetur, turpis enim semper odio, ut efficitur tellus justo nec odio. Integer interdum justo at ante lacinia, a')">
                                    </span> 
                                    <b v-text="__('molestie ex eleifend')"></b>. 
                                    <span v-text="__('Maecenas pharetra convallis elementum. Praesent pharetra ante vitae est pharetra, id aliquam sem tempus. Mauris et nisi porta, hendrerit purus vel, ullamcorper enim')">
                                    </span>. 
                                    <b v-text="__('Nulla quis urna')"></b>  
                                    <span v-text="__('ut nisi vehicula fringilla at finibus urna. Nunc convallis mi eu porttitor tristique')">
                                    </span>. <br> <br>
                                    <span v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna. Proin congue gravida enim. In faucibus erat magna, e')">
                                    </span>
                                    <b v-text="__('t lobortis orci porttitor a')"></b>.  
                                    <span v-text="__('Aliquam erat volutpat. Nunc eget risus nulla. Etiam sodales condimentum nunc a aliquet')"></span>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_page_content_inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque libero sed tincidunt elementum. Praesent elementum, risus nec <a href="#">dictum consectetur,</a>dictum consectetur, turpis enim semper odio, ut efficitur tellus justo nec odio. Integer interdum justo at ante lacinia, a molestie ex eleifend. Maecenas pharetra convallis elementum. Praesent pharetra ante vitae est pharetra, id aliquam sem tempus. <b>Mauris et nisi porta,</b> hendrerit purus vel, ullamcorper enim. Nulla quis urna ut nisi vehicula fringilla at finibus urna. Nunc convallis mi eu porttitor tristique. <br> <br>
                                    Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna. <b>Proin congue</b>  gravida enim. In faucibus erat magna, et lobortis orci porttitor a. Aliquam erat volutpat. Nunc eget risus nulla. Etiam sodales condimentum nunc a aliquet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RESTRUCTURE SECTION
        ============================== --> 
</template>