<template>
	<!-- =========================
            START RESTRUCTURE SECTION
        ============================== -->
        <section class="restructure_area">
            <div class="restructure_content restructure_content_desktop single_restructure_content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="restructure_content_inner">
                                <!-- <i class="material-icons">account_balance</i> -->
                                <img :src="core.Asset_Path+ 'images/Artboard 2.svg'" alt="">
                                <h2 v-text="__('Progetto virtuale VR')"></h2>
                                <p v-text="__('Un progetto in realtà virtuale cosi da avere la certezza di come sarà l’appartamento ristrutturato ancor prima di iniziare i lavori.')"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="restructure_content_inner">
                                <img :src="core.Asset_Path+ 'images/Artboard 3.svg'" alt="">
                                <h2 v-text="__('Un unico Architetto')"></h2>
                                <p v-text="__('Uno dei nostri architetti come unico referente dei lavori, che segue il processo di ristrutturazione dal progetto alla consegna chiavi in mano.')"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="restructure_content_inner">
                                <img :src="core.Asset_Path+ 'images/Artboard 4.svg'" alt="">
                                <h2 v-text="__('Appartamento gratuito')"></h2>
                                <p v-text="__('Uno dei nostri architetti come unico referente dei lavori, che segue il processo di ristrutturazione dal progetto alla consegna chiavi in mano.')"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="restructure_content_inner">
                                <img :src="core.Asset_Path+ 'images/Artboard 5.svg'" alt="">
                                <h2 v-text="__('Somontaggio mobili')"></h2>
                                <p v-text="__('Smontaggio, fermo deposito e rimontaggio dei tuoi mobili a fine ristrutturazione; il tutto a costo zero. Un servizio efficiente con tempi brevi e certi.')"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="restructure_content_inner">
                                <img :src="core.Asset_Path+ 'images/Artboard 6.svg'" alt="">
                                <h2 v-text="__('Applicazione dedicata')"></h2>
                                <p v-text="__('Controlla l’avanzamento dei lavori grazie ad un’applicazione dedicata e scopri come stiamo effettuando la tua ristrutturazione.')"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="restructure_content_inner">
                                <img :src="core.Asset_Path+ 'images/Artboard 7.svg'" alt="">
                                <h2 v-text="__('Rispetto dei tempi')"></h2>
                                <p v-text="__('Uno dei nostri architetti come unico referente dei lavori, che segue il processo di ristrutturazione dal progetto alla consegna chiavi iRispetto dei tempi di consegna della tua casa ristrutturata. Intraprendi la tua ristrutturazione con tranquillità, garantiamo tempi certi di consegna.')"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="restructure_content restructure_content_mobile single_restructure_content">
                <div id="restructure_slider" class="owl-carousel owl-theme">
                    <div class="restructure_content_inner">
                        <img :src="core.Asset_Path+ 'images/Artboard 2.svg'" alt="">
                        <h2 v-text="__('Progetto virtuale VR')"></h2>
                        <p v-text="__('Un progetto in realtà virtuale cosi da avere la certezza di come sarà l’appartamento ristrutturato ancor prima di iniziare i lavori.')"></p>
                    </div>
                    <div class="restructure_content_inner">
                        <img :src="core.Asset_Path+ 'images/Artboard 3.svg'" alt="">
                        <h2 v-text="__('Un unico Architetto')"></h2>
                        <p v-text="__('Uno dei nostri architetti come unico referente dei lavori, che segue il processo di ristrutturazione dal progetto alla consegna chiavi in mano.')"></p>
                    </div>
                    <div class="restructure_content_inner">
                        <img :src="core.Asset_Path+ 'images/Artboard 4.svg'" alt="">
                        <h2 v-text="__('Appartamento gratuito')"></h2>
                        <p v-text="__('Uno dei nostri architetti come unico referente dei lavori, che segue il processo di ristrutturazione dal progetto alla consegna chiavi in mano.')"></p>
                    </div>
                    <div class="restructure_content_inner">
                        <img :src="core.Asset_Path+ 'images/Artboard 5.svg'" alt="">
                        <h2 v-text="__('Somontaggio mobili')"></h2>
                        <p v-text="__('Smontaggio, fermo deposito e rimontaggio dei tuoi mobili a fine ristrutturazione; il tutto a costo zero. Un servizio efficiente con tempi brevi e certi.')"></p>
                    </div>
                    <div class="restructure_content_inner">
                        <img :src="core.Asset_Path+ 'images/Artboard 6.svg'" alt="">
                        <h2 v-text="__('Applicazione dedicata')"></h2>
                        <p v-text="__('Controlla l’avanzamento dei lavori grazie ad un’applicazione dedicata e scopri come stiamo effettuando la tua ristrutturazione.')"></p>
                    </div>
                    <div class="restructure_content_inner">
                        <img :src="core.Asset_Path+ 'images/Artboard 7.svg'" alt="">
                        <h2 v-text="__('Rispetto dei tempi')"></h2>
                        <p v-text="__('Uno dei nostri architetti come unico referente dei lavori, che segue il processo di ristrutturazione dal progetto alla consegna chiavi iRispetto dei tempi di consegna della tua casa ristrutturata. Intraprendi la tua ristrutturazione con tranquillità, garantiamo tempi certi di consegna.')"></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RESTRUCTURE SECTION
        ============================== -->
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
            $(function () {
                var restructure_slider = jQuery("#restructure_slider");
                restructure_slider.owlCarousel({
                    loop: false,
                    margin: 0,
                    smartSpeed: 1500,
                    autoplay:false,
                    nav: true,
                    dots:false,
                    navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    }
                });
            });
        }
    }
</script>
<style scoped>
    .restructure_content_inner img{
        height: 50px !important;
    }
</style>