<template>
    <div>
        <!-- =========================
            START FOOTER SECTION
        ============================== -->
        <footer class="footer_area">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer_logo">
                                <a href="#"><img :src="core.Asset_Path+'images/logo.png'" alt=""></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer_menu">
                                <h2 v-text="__('Menu veloce')"></h2>
                                <ul>
                                    <li><a href="#" v-text="__('Homepage')"></a></li>
                                    <li><a href="#" v-text="__('Chi siamo')"></a></li>
                                    <li><a href="#" v-text="__('Ambienti')"></a></li>
                                    <li><a href="#" v-text="__('Preventivo gratuito')"></a></li>
                                    <li><a href="#" v-text="__('Contattaci')"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer_menu">
                                <h2 v-text="__('Siamo in tutta Italia')"></h2>
                                <img :src="core.Asset_Path+'images/footer-img.png'" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <p>© 2018 Ristrutturazione Case - Domus Mea srl - vat IT1234567890 <b>Privacy Policy</b> <br>-
                                    <span v-text="__('Tutti i testi e la grafica presenti nel sito sono soggetti alle norme vigenti sul diritto d autore.')"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="f_right">
                                <p>Web design <span>Simone</span></p>
                                <a href="#" v-text="__('Segnala un problema')"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- =========================
            END FOOTER SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core
            }
        }
    }
</script>
