<template>
    <div>
        <!-- =========================
            START SOCIAL SECTION
        ============================== -->
        <section class="social_area ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>#RistrutturazioneCase</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec <br> hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <ul class="social_icon">
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END SOCIAL SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
