<template>
    <div class="wrapper clearfix">
        <div class="header_top clearfix">                               
            <div class="header_top_inner header_top_inner_1">
                <div class="header_top_img">
                    <img :src="core.Asset_Path+'images/headericon1.png'" alt="">
                </div>
                <p>DOVE SIAMO <br> <span><a href="#">Trova la sede più vicina a te!</a></span></p>
            </div>
            <div class="header_top_inner header_top_inner_2">
                <div class="header_top_img">
                    <img :src="core.Asset_Path+'images/headericon2.png'" alt="">
                </div>
                <p>CHIAMACI AL NUMERO <br> <span><a href="#">800 33 33 30</a></span></p>
            </div>
            <div class="header_top_inner">
                <div class="header_top_img">
                    <img :src="core.Asset_Path+'images/headericon3.png'" alt="">
                </div>
                <p>INVIACI UN’EMAIL <br> <span><a href="#">info@ristrutturazionecase.com</a></span></p>
            </div>
        </div>  
        <div class="clearfix"></div>
        <div class="email_content clearfix">
            <div class="logo_area clearfix" style="clear: both">
                <div class="logo_left">
                    <img :src="core.Asset_Path+'images/logo.png'" alt="">                            
                    <p>Ristrutturazione Case S.r.l. p.i. 09759210967 <br>Sede Legale/Operativa: <br>Via Policarpo Petrocchi, 10, 20127 Milano – Italy <br>Tel. +39. 02 94751000 – Fax. +39 02 94751000 <br>Email: info@ristrutturazionecase.com</p>
                </div>
                <div class="logo_right">
                    <h2>Richiesta di preventivo online</h2>
                    <p>Richiesta numero:{{ data.phone }} <br>Data: {{ new Date(data.date).getDate() }}/{{ new Date(data.date).getMonth() }}/{{ new Date(data.date).getFullYear() }}</p>
                    <h3>
                        <span>All’attenzione di</span>
                        {{ data.name }} <br>
                        {{ data.email }} <br>
                        {{ data.phone }} <br>
                    </h3>                            
                </div>
            </div> 
            <div class="clearfix"></div>
            <div class="email_content_text clearfix" style="clear: both">
                <h3>Renovation description</h3>
                <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>
                <div class="date_picker_area">
                    <h2>Choose the data for the meeting</h2>
                    <input id="datepicker" placeholder="28/02/2018" v-bind:value="new Date(data.date).getDate() + '/' + new Date(data.date).getMonth()+'/' + new Date(data.date).getFullYear()" width="161" />
                </div>
                <div class=" date_picker_area date_picker_area2">
                    <h2>I’d like to see to architect in my house <br> <span v-if="data.wantArchitect">Yes</span><span v-else="data.wantArchitect">No</span></h2>
                </div>
                <div style="clear: both"></div>
                <h2>Attachements added: <span>{{ data.file }}</span></h2>
            </div>         
        </div>
        <p class="f_top">Le informazioni contenute in questa richiesta di preventivo <br> sono confidenziali e non verranno il alcun modo divulgate.  </p>
        <div class="footer clearfix">
            <p>© Ristrutturazionecase srl</p>
        </div>          
    </div>
</template>

<script> 
    export default {
        name: 'portfolio',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        computed: {
            data() {
                var data = JSON.parse(localStorage.getItem('formData'));
                console.log(data);
                return data;
            }
        }
    }
</script>

<style scoped>
    body{
        margin: 0;
        font-family: 'Nunito', sans-serif;
    }
    .wrapper{
        width: 768px;
        margin: 0 auto;
        background-color: #fff;
        -webkit-box-shadow: 1px -2px 40px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -2px 40px -1px rgba(0,0,0,0.75);
        box-shadow: 1px -2px 40px -1px rgba(0,0,0,0.75);
        /*padding: 30px 50px;*/
    }
    .header_area{}
    .header_top{
        border-radius: 7px 6px 0 0;
        background-color: #fdedd6;
        padding: 0px 30px;
    }
    .header_top_inner{
        width: 26.33%;
        float: none;
        display: inline-block;
    }
    .header_top_inner{
        position: relative;
        padding: 17px 0px 25px;
        padding-left: 33px;
    }
    .header_top_inner{}
    .header_top_img {
        position: absolute;
        top: 30px;
        left: 0;
        width: 22px;
        height: 22px;
        border: 1px solid #f3981c;
        border-radius: 100%;
        text-align: center;
    }
    .header_top_img img{
        vertical-align: initial;
    }
    .header_top_inner p {
        color: #f4981d;
        font-size: 9px;
        font-weight: 600;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .header_top_inner p span{
        display: block;
    }
    .header_top_inner p span a{
        color: #4a4a4a;
        font-size: 11px;
        font-weight: 600;
        text-decoration: underline;
    }
    .header_top_inner_1{
        width: 29%;
    }
    .header_top_inner_2{
        margin-left: 41px;
        width: 23%;
    }
    .header_top_inner_2{}
    .logo_area{
        padding: 30px 0px;
    }
    .logo_area img{}
    .logo_left p{
        color: #444444;
        font-size: 10px;
        font-weight: 400;
    }
    .logo_left{
        float: left;
    }            
    .logo_area h2{}
    .logo_right > h2{
        color: #444444;
        font-size: 24px;
        font-weight: 600;
        float: right;
        text-align: right;
        margin-bottom: 0;
        margin-top: 0;
    }
    .logo_right > p{
        color: #808080;
        font-size: 12px;
        font-weight: 600;
        float: right;
        text-align: right;
        margin-top: 0;
    }
    .logo_left{
        float: left;
        width: 50%;
    }
    .logo_right{}
    .logo_right h3{
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        margin-top: 70px;
    }
    .logo_right h3 span{
        font-weight: 700;
        display: block;
    }
    .logo_right{
        float: left;
        width: 50%;
    }
    .email_content{
        background: #fff;
        padding: 0px 40px;
    }
    .email_content_text{
        background-color: #f0f0f0;
        padding: 15px;
        position: relative;
        top: 25px;
        margin-bottom: 41px;
    }
    .email_content_text > h3{
        color: #444444;
        font-size: 12px;
        font-weight: 900;
        margin-bottom: 0;
        margin-top: 0;
    }
    .email_content_text > p{
        color: #444444;
        font-size: 12px;
        font-weight: 400;
        margin-top: 7px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }            
    .email_content_text > h2{
        color: #444444;
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
    }
    .email_content_text > h2 span{
        color: #444444;
        font-size: 16px;
        font-weight: 400;
    }
    .date_picker_area {
        float: left;
        width: 50%;
    }
    .date_picker_area2 {
        float: left;
        width: 50%;
    }
    .date_picker_area h2{
        color: #444444;
        font-size: 16px;
        font-weight: 700;
    }
    #datepicker{
        z-index: 1;
        margin-left: 44px;
        padding-left: 0;
        border: 0;
        background: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
    }
    .gj-datepicker [role=right-icon] button,.gj-datepicker [role=right-icon] button:focus{
        background: transparent!important;
        border: none!important;
        color: #929292!important;
        font-size: 14px;
        font-weight: 400;
        outline: 0!important;
        box-shadow: none!important;
        display: none;
    }
    .gj-datepicker [role=right-icon] {
        position: absolute;
        left: 0!important;
        height: 100%;
        z-index: 2;
    }
    .text-center{
        text-align: center;
    }
    .footer{
        width: 100%;
        height: 50px;
        background-color: #fdedd6;
        text-align: center;
        line-height: 53px;
        margin-top: 30px;
    }
    .f_top{
        color: #444444;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 14px 40px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .f_top{}
</style>