<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="portfolio_content_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portfolio_content_title">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" v-text="__('APPARTAMENTO')"></a></li>
                                    <li class="breadcrumb-item"><a href="#" v-text="__('NEGOZIO')"></a></li>
                                    <li class="breadcrumb-item active" aria-current="page" v-text="__('UFFICIO')"></li>
                                </ol>
                            </nav> 
                        </div>
                    </div>
                    <div v-for="profile in profiles" :key="profile.id" class="col-sm-6 col-md-4 portfolio_custom_padding">
                        <div class="portfolio_content_inner">
                            <div class="portfolio_content_img">
                                <!-- <img :src="core.Asset_Path+'images/portfolio1.png'" alt=""> -->
                                <img :src="'/storage/uploads/'+ profile.image_after" alt="">
                                <div class="portfolio_content_img_inner">
                                    <h2 v-text="__(profile.title)"></h2>
                                    <div v-text="__(profile.description.length > 100 ? profile.description.substring(0,100).replace(/<\/?[^>]+(>|$)/g, '') : profile.description.replace(/<\/?[^>]+(>|$)/g, ''))"></div>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">link</i>
                                                <span>{{ profile.mq }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">cell_wifi</i>
                                                <span>{{ profile.network }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">import_export</i>
                                                <span>{{ profile.location }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">ring_volume</i>
                                                <span>{{ profile.price }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <router-link :to="`/progetti/${profile.title.replace(' ', '-')}/${profile.id}`" class="portfoio_btn" href="javascript:void(0)" v-text="__('SCOPRI DI PIU')"></router-link>
                                    
                                    <a class="portfoio_share" href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>

                                    </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->  
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted() {
            if (this.profiles.length) {
                return;
            }
            
            this.$store.dispatch('getProfiles');
        },
        computed: {
            profiles() {
                return this.$store.getters.profiles;
            }
        }
    }
</script>
