<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="architect_content_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="architect_content_title">
                            <h2 v-text="__('Direzione')"></h2>  
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                
                                    <img :src="core.Asset_Path+'images/author2.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author2.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container architect_custom_container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="architect_content_title">
                            <h2 v-text="__('Amministrazione')"></h2>  
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container architect_custom_container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="architect_content_title">
                            <h2 v-text="__('Architetti')"></h2>  
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="architect_content_inner">
                            <div class="architect_content_img">
                                <router-link :to="'/architect/Paolo-Ravizza'" href="javascript:void(0)">
                                    <img :src="core.Asset_Path+'images/author3.png'" alt="">
                                    <div class="architect_content_img_inner">
                                        <h2>Paolo Ravizza</h2>
                                        <p v-text="__('Responsabile produzione')"></p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== --> 
    </div>
</template>

<script>
    export default {
        name: 'architect',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
