/*------------------------------------------------------------------
[Sekhmet Stylesheet]

Project:	Amun
Version:	1.0
Last change:	17/07/2017 [fixed Float bug, vf]
Assigned to:	Mohamed Ssid  , CEO @ RaThemes
Primary use:	Themeforest , Envato
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Project Structure]

project build with Sass Filles its preety awesome if you work with them ;)

@import "_import"
@import "_footer"
@import "_sidebar"
@import "_navbar"
@import "_content"
@import "_1-dashboard"
@import "_2-dashboard"
@import "_3-profile"
@import "_4-login-signin"
@import "_5-gallery"
@import "_6-mail"
@import "_7-01-ui-buttons"
@import "_7-02-ui-notifications"
@import "_7-03-ui-sweetalert"
@import "_7-04-ui-accordion"
@import "_7-05-ui-list-group"
@import "_7-06-ui-tabs"
@import "_7-07-ui-alerts"
@import "_8-tables"
@import "_9-forms"
@import "_10-chart"
@import "_11-pages"
@import "_12-index"

-------------------------------------------------------------------*/


/*-----------------------------------------------------------------

[Project Sass Files]

"sources": [
  "../sass/app.sass",
  "../sass/_vars.sass",
  "../sass/pages/_0-page-dir.sass",
  "../sass/pages/_import.sass",
  "../sass/pages/_footer.sass",
  "../sass/pages/_sidebar.sass",
  "../sass/pages/_navbar.sass",
  "../sass/pages/_content.sass",
  "../sass/pages/_1-dashboard.sass",
  "../sass/pages/_2-dashboard.sass",
  "../sass/pages/_3-profile.sass",
  "../sass/pages/_4-login-signin.sass",
  "../sass/pages/_5-gallery.sass",
  "../sass/pages/_6-mail.sass",
  "../sass/pages/_7-01-ui-buttons.sass",
  "../sass/pages/_7-02-ui-notifications.sass",
  "../sass/pages/_7-03-ui-sweetalert.sass",
  "../sass/pages/_7-04-ui-accordion.sass",
  "../sass/pages/_7-05-ui-list-group.sass",
  "../sass/pages/_7-06-ui-tabs.sass",
  "../sass/pages/_7-07-ui-alerts.sass",
  "../sass/pages/_8-tables.sass",
  "../sass/pages/_9-forms.sass",
  "../sass/pages/_10-chart.sass",
  "../sass/pages/_11-pages.sass",
  "../sass/pages/_12-index.sass",
  "../sass/basic/_0-basic-dir.sass",
  "../sass/basic/_basic.sass"
]

-----------------------------------------------------------------*/


/*------------------------------------------------------------------
[project contents]

1. Page
2. sidebar / #sidebar
3. Navigation / #navbar
4. Content / #content
5. Footer / #footer
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Color codes]

$color1: #6F6486
$color1--: #4C4661
$color2: #71BFF1
$color2--: #2471a0
$color3: #FFC646
$color3--: #a07416
$color4: #fe7572
$color4--: #b52f2d
$color5: #232323
$color5--: #181818
$color6:  #efefef
$color6--:  #a9a9a9

-------------------------------------------------------------------*/


/* Colors */


/* Fonts style */

@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i");
@import url("https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css");
body {
    background-color: rgba(0, 0, 0, 0.03);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
}

code,
pre {
    font-size: 12px;
    background-color: #efefef;
    padding: 4px 8px;
    margin: 0 8px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #fe7572;
}

hr {
    margin: 45px 0;
}

input.form-control {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.333s;
}

input.form-control:hover,
input.form-control:active,
input.form-control:focus {
    outline: 0;
    border: 3px solid #6F6486;
}

p.lead {
    font-size: 14px;
    line-height: 24px;
}

p.info {
    margin-bottom: 40px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 20px;
}


/* General */

.btn {
    font-family: 'Open Sans';
    border: 0;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.btn:focus {
    box-shadow: 0 0 0;
    outline: 0;
    color: #fff;
    opacity: 1;
}

.btn2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.btn-b {
    border-radius: 50px;
}

.btn-link:hover,
.btn-link:active {
    box-shadow: 0 0 0;
    outline: 0;
    color: #4C4661;
}

.btn-primary {
    background-color: #6F6486;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #6F6486;
    opacity: .7;
    box-shadow: 0 0 0;
    outline: 0;
    color: #fff;
}

.btn-secondary {
    background-color: lightgray;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: lightgray;
    color: #fff;
    opacity: .7;
    box-shadow: 0 0 0;
    outline: 0;
}

.btn-success {
    background-color: lightgreen;
}

.btn-success:hover,
.btn-success:active {
    background-color: lightgreen;
    opacity: .7;
    box-shadow: 0 0 0;
    outline: 0;
    color: #fff;
}

.btn-info {
    background-color: #71BFF1;
}

.btn-info:hover,
.btn-info:active {
    background-color: #71BFF1;
    opacity: .7;
    box-shadow: 0 0 0;
    outline: 0;
    color: #fff;
}

.btn-warning {
    background-color: #FFC646;
}

.btn-warning:hover,
.btn-warning:active {
    background-color: #FFC646;
    opacity: .7;
    box-shadow: 0 0 0;
    outline: 0;
    color: #fff;
}

.btn-danger {
    background-color: #fe7572;
}

.btn-danger:hover,
.btn-danger:active {
    background-color: #fe7572;
    opacity: .7;
    box-shadow: 0 0 0;
    outline: 0;
    color: #fff;
}

.btn-outline-primary {
    color: #6F6486;
    border: 1px solid #6F6486;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    background-color: #6F6486;
    border: 1px solid #6F6486;
    color: #fff;
}

.btn-outline-danger {
    color: #fe7572;
    border: 1px solid #fe7572;
}

.btn-outline-danger:hover,
.btn-outline-danger:active {
    background-color: #fe7572;
    border: 1px solid #fe7572;
    color: #fff;
}

.btn-outline-success {
    color: lightgreen;
    border: 1px solid lightgreen;
}

.btn-outline-success:hover,
.btn-outline-success:active {
    background-color: lightgreen;
    border: 1px solid lightgreen;
    color: #fff;
}

.btn-outline-info {
    color: #71BFF1;
    border: 1px solid #71BFF1;
}

.btn-outline-info:hover,
.btn-outline-info:active {
    background-color: #71BFF1;
    border: 1px solid #71BFF1;
    color: #fff;
}

.btn-outline-warning {
    color: #FFC646;
    border: 1px solid #FFC646;
}

.btn-outline-warning:hover,
.btn-outline-warning:active {
    background-color: #FFC646;
    border: 1px solid #FFC646;
    color: #fff;
}

.btn-outline-secondary {
    color: #a9a9a9;
    border: 1px solid #a9a9a9;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: #a9a9a9;
    border: 1px solid #a9a9a9;
    color: #fff;
}


/* Models */

.modal-content {
    border: 0;
    border-radius: 3px;
    text-align: center;
    padding: 80px 20px;
}

.modal-content .zmdi-modal {
    font-size: 70px;
    color: #6F6486;
}

.modal-content h1 {
    color: #232323;
    font-size: 24px;
    padding: 30px 0;
}

.modal-content p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
    padding: 0 20px 30px 20px;
    color: #232323;
}

.modal-content .btn {
    padding: 10px 40px;
}

.modal-content .btn:last-child {
    margin-left: 30px;
}

.badge-primary,
.badge {
    background-color: #6F6486;
    padding: 1px 10px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 10px;
}

.badge-default {
    background-color: #232323;
}

.badge-warning {
    background-color: #fe7572;
}

.badge-info {
    background-color: #71BFF1;
}

.badge-danger {
    background-color: #FFC646;
}

#modal-header .modal-header {
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

#modal-header .modal-header h5 {
    color: #232323;
}

#modal-header .modal-content {
    padding-top: 0;
}

#bigData {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
}

.bg-primary {
    background-color: #6F6486;
}

.bg-info {
    background-color: #71BFF1;
}

.bg-warning {
    background-color: #FFC646;
}

.bg-danger {
    background-color: #fe7572;
}

.bg-black {
    background-color: #232323 !important;
}

.b-0 {
    border: 0 !important;
    box-shadow: 0 0 0 !important;
    border-radius: 0 !important;
}

.ct-labels {
    opacity: 0.4;
}

.ct-grid {
    stroke: rgba(0, 0, 0, 0.06);
    stroke-dasharray: none;
}

.ct-series-a .ct-bar {
    stroke: #6F6486;
    stroke-width: 16px !important;
    opacity: 0.8;
}

.ct-series-a .ct-bar:hover {
    opacity: 1;
}

.ct-series-b .ct-bar {
    stroke: #71BFF1;
    stroke-width: 16px !important;
    opacity: 0.8;
}

.ct-series-b .ct-bar:hover {
    opacity: 1;
}

.ct-series-c .ct-bar {
    stroke: #FFC646;
    stroke-width: 16px !important;
    opacity: 0.8;
}

.ct-series-c .ct-bar:hover {
    opacity: 1;
}


/* start top navbar */

#top-navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    background-color: #6F6486;
}

#top-navbar .nav .nav-left {
    width: 220px;
    background-color: #fff;
    text-align: left;
    padding: 17px;
    transition: ease-in-out 0.3s;
}

#top-navbar .nav .nav-left .brand {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

#top-navbar .nav .nav-right {
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#top-navbar .nav .nav-right .dropdown .btn {
    position: relative;
}

#top-navbar .nav .nav-right .dropdown .btn .badge {
    background-color: black;
    position: absolute;
    border: 2px solid #6f6486;
    border-radius: 50%;
    right: -4px;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 7px;
}

#top-navbar .nav .nav-right .dropdown-menu {
    position: relative;
    top: auto;
    float: none;
    margin-top: 10px;
    background-color: #fff;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
    width: 220px;
}

@media (max-width: 576px) {
    #top-navbar .nav .nav-right .dropdown-menu {
        width: 100% !important;
    }
}

#top-navbar .nav .nav-right .dropdown-menu .divider {
    background-color: #efefef;
    width: 100%;
    height: 1px;
}

#top-navbar .nav .nav-right .dropdown-menu .dropdown-item {
    padding: 8px 20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}

#top-navbar .nav .nav-right .dropdown-menu .dropdown-item .zmdi {
    margin-right: 10px;
    color: #6F6486;
    font-size: 18px;
}

#top-navbar .nav .nav-right .dropdown-menu .dropdown-item:hover,
#top-navbar .nav .nav-right .dropdown-menu .dropdown-item:active,
#top-navbar .nav .nav-right .dropdown-menu .dropdown-item:focus {
    background-color: #efefef;
}

#top-navbar .nav .nav-right .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 10px;
}

#top-navbar .nav .nav-right .left i.zmdi {
    font-size: 22px;
    color: #fff;
}

#top-navbar .nav .nav-right .left .search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#top-navbar .nav .nav-right .left .search .btn {
    background-color: rgba(250, 250, 250, 0.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#top-navbar .nav .nav-right .left .search input {
    width: 50%;
    border: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 6px 16px;
    background-color: rgba(250, 250, 250, 0.1);
}

#top-navbar .nav .nav-right .left .search input:hover,
#top-navbar .nav .nav-right .left .search input:active,
#top-navbar .nav .nav-right .left .search input:focus {
    outline: 0;
}

#top-navbar .nav .nav-right .left .search input::-webkit-input-placeholder {
    color: #fff;
}

#top-navbar .nav .nav-right .left .search input:-ms-input-placeholder {
    color: #fff;
}

#top-navbar .nav .nav-right .left .search input::placeholder {
    color: #fff;
}

#top-navbar .nav .nav-right .right {
    -webkit-box-flex: 0.3;
    -ms-flex: 0.3;
    flex: 0.3;
    text-align: right;
    margin-right: 30px;
}

#top-navbar .nav .nav-right .right .user {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
}

#top-navbar .nav .nav-right .right .user .btn {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    border-radius: 50%;
    padding: 12px 1px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#top-navbar .nav .nav-right .right .user .btn:hover,
#top-navbar .nav .nav-right .right .user .btn:active,
#top-navbar .nav .nav-right .right .user .btn:focus {
    color: #fff;
}

#top-navbar .nav .nav-right .right .message {
    position: absolute;
    top: 0;
    right: 80px;
}

#top-navbar .nav .nav-right .right .message .btn {
    background-color: transparent;
}

#top-navbar .nav .nav-right .right .message .btn .badge {
    background-color: #fe7572;
}

#top-navbar .nav .nav-right .right .message .btn .zmdi {
    font-size: 24px;
}

#top-navbar .nav .nav-right .right .message .dropdown-menu {
    width: 400px;
    padding-bottom: 0;
}

#top-navbar .nav .nav-right .right .message .btn {
    background-color: transparent;
}

#top-navbar .nav .nav-right .right .message .btn .zmdi {
    font-size: 24px;
}

#top-navbar .nav .nav-right .right .message .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px 14px 20px;
    border-bottom: 1px solid #efefef;
}

#top-navbar .nav .nav-right .right .message .head p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 6px;
    color: #000;
    text-transform: uppercase;
}

#top-navbar .nav .nav-right .right .message .head span {
    text-transform: uppercase;
    font-weight: 600;
}

#top-navbar .nav .nav-right .right .message .contnet {
    overflow: scroll;
    height: 270px;
}

#top-navbar .nav .nav-right .right .message .contnet .post {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    transition: all 0.33s;
    border-bottom: 1px solid #efefef;
}

#top-navbar .nav .nav-right .right .message .contnet .post:last-child {
    border: 0;
}

#top-navbar .nav .nav-right .right .message .contnet .post:hover {
    background-color: #f9f9f9;
}

#top-navbar .nav .nav-right .right .message .contnet .post:hover .text h1 {
    color: #6F6486;
}

#top-navbar .nav .nav-right .right .message .contnet .post .text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#top-navbar .nav .nav-right .right .message .contnet .post .text h1 {
    color: #000;
    font-weight: 800;
    font-size: 13px;
}

#top-navbar .nav .nav-right .right .message .contnet .post .text p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 20px;
}

#top-navbar .nav .nav-right .right .message .contnet .post .img {
    width: 40px;
    height: 40px;
    background-color: #6F6486;
    border-radius: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    margin-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

#top-navbar .nav .nav-right .right .message .contnet .post .img img {
    height: 100%;
}

#top-navbar .nav .nav-right .right .message .footer {
    text-align: center;
}

#top-navbar .nav .nav-right .right .message .footer .btn {
    height: auto;
    width: auto;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    padding: 0;
    width: 100%;
    letter-spacing: 0;
    padding: 4px 0;
    font-weight: 600;
    transition: all 0.33s;
    padding: 14px;
    border-top: 1px solid #efefef;
    margin-top: 0;
}

#top-navbar .nav .nav-right .right .message .footer .btn:hover {
    background-color: #efefef;
    color: #6F6486;
}

#top-navbar .nav .nav-right .right .notifications {
    position: absolute;
    top: 0;
    right: 130px;
}

#top-navbar .nav .nav-right .right .notifications .dropdown-menu {
    width: 400px;
    padding-bottom: 0;
}

#top-navbar .nav .nav-right .right .notifications .btn {
    background-color: transparent;
}

#top-navbar .nav .nav-right .right .notifications .btn .badge {
    background-color: #FFC646;
}

#top-navbar .nav .nav-right .right .notifications .btn .zmdi {
    font-size: 24px;
}

#top-navbar .nav .nav-right .right .notifications .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px 14px 20px;
    border-bottom: 1px solid #efefef;
}

#top-navbar .nav .nav-right .right .notifications .head p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 6px;
    color: #000;
    text-transform: uppercase;
}

#top-navbar .nav .nav-right .right .notifications .head span {
    text-transform: uppercase;
    font-weight: 600;
}

#top-navbar .nav .nav-right .right .notifications .contnet {
    overflow: scroll;
    height: 270px;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    transition: all 0.33s;
    border-bottom: 1px solid #efefef;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post:last-child {
    border: 0;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post:hover {
    background-color: #f9f9f9;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post:hover .text h1 {
    color: #6F6486;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post .text h1 {
    color: #000;
    font-weight: 800;
    font-size: 13px;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post .text p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 20px;
}

#top-navbar .nav .nav-right .right .notifications .contnet .post .img {
    width: 40px;
    height: 40px;
    background-color: #6F6486;
    border-radius: 50%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 7px 15px;
    margin-right: 20px;
    margin-top: 10px;
}

#top-navbar .nav .nav-right .right .notifications .footer {
    text-align: center;
}

#top-navbar .nav .nav-right .right .notifications .footer .btn {
    height: auto;
    width: auto;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    padding: 0;
    width: 100%;
    letter-spacing: 0;
    padding: 4px 0;
    font-weight: 600;
    transition: all 0.33s;
    padding: 14px;
    border-top: 1px solid #efefef;
    margin-top: 0;
}

#top-navbar .nav .nav-right .right .notifications .footer .btn:hover {
    background-color: #efefef;
    color: #6F6486;
}

#top-navbar .nav .nav-right .right .flag {
    position: absolute;
    top: 0;
    right: 180px;
}

#top-navbar .nav .nav-right .right .flag .btn {
    background-color: transparent;
    overflow: hidden;
    border-radius: 0;
    position: relative;
}

#top-navbar .nav .nav-right .right .flag .btn img {
    height: 100%;
    margin-top: 3px;
}

#top-navbar .nav .nav-right .right .flag .dropdown-item img {
    width: 13%;
    margin-right: 14px;
    margin-bottom: 4px;
}


/* end top navbar */


/* start layout */

#layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    transition: ease-in-out 0.3s;
}


/* end layout */


/* start side bar */

#sidebar .sidebar {
    background-color: #fff;
    width: 220px;
    position: fixed;
    overflow: scroll;
    -webkit-transform: all 0.3s;
    transform: all 0.3s;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
}

#sidebar .sidebar .head {
    padding-top: 8px;
    opacity: 0.6;
    letter-spacing: 2px;
    padding: 20px;
    color: #000;
    font-weight: 800;
}

#sidebar .sidebar ul {
    padding-bottom: 2px;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

#sidebar .sidebar ul:last-child {
    padding-bottom: 30px;
}

#sidebar .sidebar ul li {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#sidebar .sidebar ul li:first-child {
    padding-top: 0;
}

#sidebar .sidebar ul li .left {
    padding-right: 10px;
}

#sidebar .sidebar ul li .z-right {
    float: right;
}

#sidebar .sidebar ul li a {
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    color: #232323;
    letter-spacing: 1px;
    text-transform: capitalize;
    opacity: 0.5;
    transition: ease-in-out 100ms;
}

#sidebar .sidebar ul li a:hover,
#sidebar .sidebar ul li a:active,
#sidebar .sidebar ul li a:focus {
    background-color: #efefef;
    color: #6F6486;
    opacity: 1;
}

#sidebar .sidebar ul li a:hover span,
#sidebar .sidebar ul li a:active span,
#sidebar .sidebar ul li a:focus span {
    color: #fff;
}

#sidebar .sidebar ul li a span {
    float: right;
    font-size: 9px;
    color: #fff;
    background-color: #6F6486;
    padding: 2px 4px;
    border-radius: 2px;
    opacity: 1;
    letter-spacing: 1px;
    transition: ease-in-out 100ms;
}

#sidebar .sidebar ul li a .sup-span {
    margin-right: 20px;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
}

#sidebar .sidebar ul li a .sup-span:hover {
    opacity: 0.5;
}

#sidebar .sidebar ul li a.active {
    background-color: #efefef;
    color: #6F6486;
    opacity: 1;
}

#sidebar .sidebar ul li a.disabled {
    opacity: 0.3;
}

#sidebar .sidebar ul.submenu {
    padding: 0;
    background-color: #efefef;
}

#sidebar .sidebar ul.submenu li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sidebar .sidebar ul.submenu li:last-child {
    padding-bottom: 10px;
}

#sidebar .sidebar ul.submenu li a {
    padding: 10px 0 10px 45px;
    width: 100%;
    letter-spacing: 1px;
}


/* end sidebar */


/* start toggole */

.toggled-side {
    margin-left: -220px;
}

.flep {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* end toggle */


/* start content */

#content {
    margin-left: 220px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px 30px;
    color: #232323;
}

#content .card {
    border-color: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
}

.card-danger:hover {
    cursor: pointer;
}

#content .card .bb {
    border-bottom: 1px solid #efefef;
}

#content .card .card-primary,
#content .card .card-info,
#content .card .card-success,
#content .card .card-warning,
#content .card .card-danger {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

#content .card .card-primary .left,
#content .card .card-info .left,
#content .card .card-success .left,
#content .card .card-warning .left,
#content .card .card-danger .left {
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#content .card .card-primary .right .zmdi,
#content .card .card-info .right .zmdi,
#content .card .card-success .right .zmdi,
#content .card .card-warning .right .zmdi,
#content .card .card-danger .right .zmdi {
    color: #fff;
    padding-left: 4px;
}

#content .card .btn {
    width: auto !important;
}

#content .card .card-primary {
    background-color: #6F6486;
}

#content .card .card-info {
    background-color: #71BFF1;
}

#content .card .card-success {
    background-color: lightgreen;
}

#content .card .card-warning {
    background-color: #FFC646;
}

#content .card .card-danger {
    background-color: #fe7572;
}

#content .card .card-head,
#content .card .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

#content .card .card-head .left,
#content .card .card-header .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#content .card .card-head .right .zmdi,
#content .card .card-header .right .zmdi {
    margin-left: 4px;
    color: #a9a9a9;
    cursor: pointer;
}

#content .card .card-head .right .zmdi:hover,
#content .card .card-header .right .zmdi:hover {
    color: #6F6486;
}

#content .card .card-body {
    padding: 30px 20px;
}

#content .card .card-body h2,
#content .card .card-body h3,
#content .card .card-body h4,
#content .card .card-body h5,
#content .card .card-body p {
    color: #232323;
    line-height: 24px;
}

#content .card .card-body p.smal {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 1;
}

#content .card .card-body .btn {
    width: 100%;
}

#content .card .card-body .btn .zmdi {
    padding-right: 10px;
}

#content .card .card-body .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}

#content .card .card-body .text h1 {
    color: #000;
    padding-top: 8px;
    font-weight: 300;
    line-height: 20px;
}

.card-danger:hover {
    pointer: cursor;
}


/* end content */

.custisclose {
    right: -300px !important;
}

#custmizer {
    position: fixed;
    z-index: 99999;
    height: 100%;
    right: 0;
    top: 0;
    transition: all 0.333s;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#custmizer .set {
    padding: 14px 20px;
    background-color: #fff;
    position: absolute;
    left: -66px;
    top: 40%;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #efefef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    cursor: pointer;
}

#custmizer .set .zmdi {
    font-size: 30px;
    color: #6F6486;
}

#custmizer .content {
    width: 300px;
    background-color: #fff;
}

#custmizer .mycontent {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#custmizer .mycontent .head {
    border-bottom: 1px solid #efefef;
    padding: 30px;
    -webkit-box-flex: 0.1;
    -ms-flex: 0.1;
    flex: 0.1;
}

#custmizer .mycontent .head p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#custmizer .mycontent .body {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
    overflow: scroll;
}

#custmizer .mycontent .body .side,
#custmizer .mycontent .body .navbar,
#custmizer .mycontent .body .mybody {
    padding: 30px;
    border-bottom: 1px solid #efefef;
}

#custmizer .mycontent .body .side:last-child,
#custmizer .mycontent .body .navbar:last-child,
#custmizer .mycontent .body .mybody:last-child {
    border: 0;
}

#custmizer .mycontent .body .side h1,
#custmizer .mycontent .body .navbar h1,
#custmizer .mycontent .body .mybody h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
}

#custmizer .mycontent .body .myChek {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin: 20px 0 0 0;
}

#custmizer .mycontent .body .myChek:last-child {
    margin-bottom: 0;
}

#custmizer .mycontent .body .myChek input {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 0;
    background-color: #fff;
    display: none;
}

#custmizer .mycontent .body .myChek label {
    color: #000;
    letter-spacing: 1px;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 4px;
}

#custmizer .mycontent .body .myChek input+label:before {
    content: '';
    left: 0;
    top: 0;
    padding: 2px 10px;
    border: 2px solid #efefef;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s;
}

#custmizer .mycontent .body .myChek input:checked+label:before {
    content: '';
    border: 2px solid #efefef;
    background-color: #6F6486;
}

#custmizer .mycontent .footer {
    border-top: 1px solid #efefef;
    padding: 30px;
    -webkit-box-flex: 0.1;
    -ms-flex: 0.1;
    flex: 0.1;
}

#custmizer .mycontent .footer .btn {
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #6F6486;
}

#custmizer .mycontent h1,
#custmizer .mycontent p {
    color: #000;
}

.invers {
    background-color: #232323 !important;
}

.invers .brand {
    color: #fff !important;
}

.invers .sidebar {
    background-color: #232323 !important;
}

.invers .sidebar .nav-link,
.invers .sidebar .head {
    color: #fff !important;
    opacity: 1 !important;
}

.invers .sidebar .nav-link:hover,
.invers .sidebar .nav-link:active,
.invers .sidebar .nav-link:focus {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.invers .sidebar .nav-item,
.invers .sidebar .active {
    background-color: black !important;
}

.nav1 .nav {
    background-color: #6F6486 !important;
}

.nav2 .nav {
    background-color: #71BFF1 !important;
}

.nav2 .badge {
    border-color: #71bff1 !important;
}

.nav3 .nav {
    background-color: #FFC646 !important;
}

.nav3 .badge {
    border-color: #ffc646 !important;
}

.nav3 .search input,
.nav3 .search .btn {
    background-color: rgba(250, 250, 250, 0.3) !important;
}

.nav4 .nav {
    background-color: #81b216 !important;
}

.nav4 .badge {
    border-color: #81b216 !important;
}

.nav5 .nav {
    background-color: #232323 !important;
}

.nav5 .badge {
    border-color: black !important;
}

.nav6 .nav {
    background-color: #efefef !important;
}

.nav6 .badge {
    border-color: #efefef !important;
}

.nav6 .search input,
.nav6 .search .btn {
    background-color: #fafafa !important;
}

.nav6 .search input::-webkit-input-placeholder {
    color: #181818 !important;
}

.nav6 .search input:-ms-input-placeholder {
    color: #181818 !important;
}

.nav6 .search input::placeholder {
    color: #181818 !important;
}

.nav6 .zmdi {
    color: #181818 !important;
}

.nav8 .nav {
    background-color: #fe7572 !important;
}

.nav8 .badge {
    border-color: #fe7572 !important;
}

.boxed {
    margin: 0 100px;
}

.boxed body {
    background-color: #71BFF1;
}

.boxed #content {
    background-color: #efefef;
}

#dashOne #big-box-chart,
#dashOne #yearsSales {
    width: 100%;
}

#dashOne #big-box-chart .flot-base,
#dashOne #yearsSales .flot-base {
    width: 100% !important;
}

#dashOne #big-box-chart .flot-overlay,
#dashOne #yearsSales .flot-overlay {
    width: 100% !important;
}

#dashOne .card-head h1 {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0;
}

#dashOne .card-head p {
    padding: 0;
    margin: 12px 0 0 0;
    font-weight: 400;
}

#dashOne p,
#dashOne h1 {
    color: #232323;
}

#dashOne .top-info {
    margin-bottom: 30px;
}

#dashOne .top-info p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

#dashOne .top-info .flex-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#dashOne .top-info .flex-col .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    border: 1px solid #4C4661;
    border-radius: 5px;
    background-color: #6F6486;
    margin-right: 12px;
}

#dashOne .top-info .flex-col .icon .zmdi {
    padding: 10px 20px;
    color: #fff;
    font-size: 28px;
}

#dashOne .top-info .flex-col .text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 8px 0 0 0;
}

#dashOne .top-info .flex-col .text h1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600 !important;
}

#dashOne .top-info .right .icon {
    border-color: rgba(111, 100, 134, 0.7);
    background-color: rgba(111, 100, 134, 0.6);
}

#dashOne .top-info .center .icon {
    border-color: rgba(111, 100, 134, 0.9);
    background-color: rgba(111, 100, 134, 0.8);
}

#dashOne .card-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#dashOne .card-flex .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#dashOne .card-flex .right {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

#dashOne .r-1 .s-1 .left p {
    font-size: 22px;
    color: #6F6486;
}

#dashOne .r-1 .s-2 .left p {
    font-size: 22px;
    color: #71BFF1;
}

#dashOne .r-1 .s-3 .left p {
    font-size: 22px;
    color: #FFC646;
}

#dashOne .r-2 h1 {
    font-size: 16px;
    margin-bottom: 12px;
}

#dashOne .r-2 p {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#dashOne .r-2 .btn {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px 8px;
    margin-bottom: 6px;
}

#dashOne .r-2 .right {
    text-align: right;
}

#dashOne .r-2 .card-head {
    border-bottom: 1px solid #efefef;
}

#dashOne .r-3 .card-head {
    border-bottom: 1px solid #efefef;
}

#dashOne .r-3 .rats {
    overflow: hidden;
}

#dashOne .r-3 .rats p {
    font-weight: 300;
    margin: 30px;
}

#dashOne .r-3 .rats p strong {
    font-weight: 600;
}

#dashOne .r-3 .rats .table {
    border: 0;
}

#dashOne .r-3 .rats .table .progress {
    border-radius: 10px;
    height: 8px;
    width: 200px;
    margin-top: 10px;
}

#dashOne .r-3 .rats .table .progress .progress-bar {
    background-color: #6F6486;
}

#dashOne .r-3 .rats .table thead {
    background-color: rgba(0, 0, 0, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

#dashOne .r-3 .rats .table thead th {
    border: 0;
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}

#dashOne .r-3 .rats .table tbody {
    border: 0;
    padding: 0 30px;
}

#dashOne .r-3 .rats .table tbody tr,
#dashOne .r-3 .rats .table tbody th,
#dashOne .r-3 .rats .table tbody td {
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-weight: 500;
    font-size: 11px;
    text-transform: capitalize;
}

#dashOne .r-3 .orders .card-flex .right {
    -webkit-box-flex: 0.6;
    -ms-flex: 0.6;
    flex: 0.6;
}

#dashOne .r-3 .orders .card-flex .right h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #71BFF1;
}

#dashOne .r-3 .orders .card-flex .right p {
    font-size: 16px;
    font-weight: 300;
}

#dashOne .r-4 .card-head {
    border-bottom: 1px solid #efefef;
}

#dashOne .r-4 .chart-m {
    padding: 30px 10px 0px 10px;
    border-bottom: 1px solid #efefef;
}

#dashOne .r-4 .ct-chart-99 {
    height: 300px;
}

#dashOne .r-4 .ct-chart-99 .ct-grid {
    stroke: rgba(0, 0, 0, 0.02);
}

#dashOne .r-4 .small-info {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.02);
}

#dashOne .r-4 .small-info .card {
    margin-bottom: 0;
}

#dashOne .r-4 .small-info .card p {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#dashOne .r-4 .small-info .card h1 {
    font-size: 20px;
    color: #6F6486;
}

#dashOne .r-4 .social {
    text-align: left;
}

#dashOne .r-4 .social .card {
    background-color: transparent;
    border: 0;
}

#dashOne .r-4 .social .card-body {
    padding-left: 40px;
}

#dashOne .r-4 .social .card-body p {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}

#dashOne .r-4 .social .card-body h1 {
    margin: 21.4px 0;
    font-size: 20px;
    color: #fff;
}

#dashOne .r-4 .social .card-body .zmdi {
    padding-right: 10px;
}

#dashOne .r-4 .social .facebook {
    background-color: #6F6486;
}

#dashOne .r-4 .social .twitter {
    background-color: #71BFF1;
}

#dashOne .r-4 .social .google {
    background-color: #FFC646;
}

#dashOne .r-4 .social .youtube {
    background-color: #fe7572;
}

#dashOne .r-4 .social .github {
    background-color: #232323;
}

#dashOne .r-4 .social .instagram {
    background-color: #fff;
}

#dashOne .r-4 .social .instagram p,
#dashOne .r-4 .social .instagram h1 {
    color: #232323;
}

#dashOne .r-5 .card-head {
    border-bottom: 1px solid #efefef;
}

#dashOne .r-5 .chats .card-body {
    height: 500px;
    overflow: scroll;
}

#dashOne .r-5 .chats .chatos {
    margin: 0px 10px 30px 10px;
}

#dashOne .r-5 .chats .chatos p {
    font-weight: 300;
    font-size: 13px;
}

#dashOne .r-5 .chats .card-flex .right {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

#dashOne .r-5 .chats .card-flex-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#dashOne .r-5 .chats .card-flex-2 .right {
    margin-left: 20px;
}

#dashOne .r-5 .chats .card-flex-2 .left {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

#dashOne .r-5 .chats .card-flex-2 .left .text-card-2 {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    border: 1px solid #efefef;
    padding: 10px;
    position: relative;
}

#dashOne .r-5 .chats .card-flex-2 .left .text-card-2::before {
    content: '';
    position: absolute;
    right: -6px;
    top: 30%;
    border-top: 10px solid #efefef;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#dashOne .r-5 .chats .img {
    overflow: hidden;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

#dashOne .r-5 .chats .img img {
    width: 100%;
}

#dashOne .r-5 .chats .text-card {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    border: 1px solid #efefef;
    padding: 10px;
    margin-left: 15px;
    position: relative;
}

#dashOne .r-5 .chats .text-card::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 30%;
    border-top: 10px solid #efefef;
    border-right: 10px solid transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#dashOne .r-5 .chats .card-fotter {
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}

#dashOne .r-5 .chats .card-fotter textarea {
    width: 100%;
    background-color: transparent;
    padding: 23px 20px 20px 20px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    text-transform: capitalize;
    resize: none;
    font-weight: 300;
}

#dashOne .r-5 .chats .card-fotter textarea:hover,
#dashOne .r-5 .chats .card-fotter textarea:active,
#dashOne .r-5 .chats .card-fotter textarea:focus {
    outline: none;
}

#dashOne .r-5 .chats .card-fotter .btn {
    width: 100% !important;
    height: 100%;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(0, 0, 0, 0.02);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

#dashOne .r-5 .calender .card-body {
    height: 540px;
    margin-bottom: 33px;
    overflow: scroll;
}

#dashOne .r-5 #homeCalender .fc-toolbar {
    display: none;
}

#dashOne .r-5 #homeCalender .fc-toolbar .fc-right button {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    text-transform: capitalize;
    box-shadow: 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.333s;
}

#dashOne .r-5 #homeCalender .fc-toolbar .fc-right button:hover {
    background-color: #fff;
    border: 1px solid #6F6486;
    color: #6F6486;
}

#dashOne .r-5 #homeCalender .fc-view .fc-head {
    background-color: #fff;
}

#dashOne .r-5 #homeCalender .fc-view .fc-head .fc-day-header {
    border: 0 !important;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    font-weight: 400;
}

#dashOne .r-5 #homeCalender .fc-view .fc-head .fc-head-container {
    border: 0;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-event-container a {
    background-color: #6F6486;
    border: 0;
    padding: 4px 10px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #6F6486;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-event-container a.info {
    background-color: #71BFF1;
    box-shadow: 0px 0px 10px 1px #71BFF1;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-event-container a.danger {
    background-color: #FFC646;
    box-shadow: 0px 0px 10px 1px #FFC646;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-event-container a.primary {
    background-color: #fe7572;
    box-shadow: 0px 0px 10px 1px #fe7572;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-widget-content {
    border-color: #efefef;
    color: rgba(0, 0, 0, 0.2);
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-widget-content .fc-scroller {
    height: 100% !important;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-widget-content .fc-day-number {
    padding: 10px 10px 0 0;
}

#dashOne .r-5 #homeCalender .fc-view .fc-body .fc-state-highlight {
    background-color: #efefef;
}

#dashOne .r-6 .card-head {
    border-bottom: 1px solid #efefef;
}

#dashOne .r-6 .members .memebr-wrapper .member {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

#dashOne .r-6 .members .memebr-wrapper .member:last-child {
    border: 0;
}

#dashOne .r-6 .members .memebr-wrapper .member .img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

#dashOne .r-6 .members .memebr-wrapper .member .img img {
    width: 100%;
}

#dashOne .r-6 .members .memebr-wrapper .member .text-card {
    float: left;
    margin-top: 10px;
}

#dashOne .r-6 .members .memebr-wrapper .member .text-card h1 {
    font-size: 14px;
    margin-bottom: 6px;
}

#dashOne .r-6 .members .memebr-wrapper .member .text-card p {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}

#dashOne .r-6 .activity .act {
    padding-bottom: 26px;
}

#dashOne .r-6 .activity .act .point {
    position: relative;
}

#dashOne .r-6 .activity .act .point::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 78px;
    background: #efefef;
    left: 9px;
    top: 22px;
}

#dashOne .r-6 .activity .act .point span {
    padding: 0 10px;
    border-radius: 50%;
}

#dashOne .r-6 .activity .act .text-card p {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#dashOne .r-6 .activity .act .text-card h1 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
}

#dashOne .r-6 .tasks .task {
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
}

#dashOne .r-6 .tasks .task:last-child {
    margin: 0;
    border: 0;
    padding: 0;
}

#dashOne .r-6 .tasks .task label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#dashOne .r-6 .tasks .task label p {
    padding-top: 3px;
    margin-left: 8px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-size: 12px;
}

#dashOne .r-6 .tasks .task input[type="checkbox"] {
    display: none;
}

#dashOne .r-6 .tasks .task label {
    cursor: pointer;
    color: #232323;
}

#dashOne .r-6 .tasks .task input[type="checkbox"]+label:before {
    border: 2px solid #efefef;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    margin: 0px 10px 0 0;
    padding: 6px 12px;
    vertical-align: top;
}

#dashOne .r-6 .tasks .task input[type="checkbox"]:checked+label:before {
    background: #fff;
    color: #6F6486;
    content: "\2713";
    text-align: center;
    padding: 6px 8px;
    font-weight: 600;
}

#dashOne .r-6 .tasks .task input[type="checkbox"]:checked+label:after {
    font-weight: bold;
}

#dashTow .info .bg-1 {
    background-color: #6F6486;
}

#dashTow .info .bg-2 {
    background-color: #71BFF1;
}

#dashTow .info .bg-3 {
    background-color: #FFC646;
}

#dashTow .info .bg-4 {
    background-color: #fe7572;
}

#dashTow .info .card {
    border: 0;
}

#dashTow .info .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    padding: 40px;
}

#dashTow .info .card-body .zmdi {
    font-size: 50px;
    color: #fff;
}

#dashTow .info .card-body .card-text {
    margin-top: 5px;
    margin-left: 30px;
}

#dashTow .info .card-body .card-text h1 {
    font-size: 20px;
    color: #fff;
}

#dashTow .info .card-body .card-text p {
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
}

#mymodals h1 {
    padding-top: 10px;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

#modal2 .zmdi {
    color: #FFC646;
}

#modal3 .zmdi {
    color: #fe7572;
}

#modal4 .zmdi {
    color: #71BFF1;
}

.full-modal .zmdi,
.full-modal h1,
.full-modal p {
    color: #fff;
}

.full-modal .btn {
    background-color: #fff;
}

#fullmodal1 .full-modal {
    background-color: #6F6486;
}

#fullmodal1 .full-modal .btn {
    color: #6F6486;
}

#fullmodal2 .full-modal {
    background-color: #FFC646;
}

#fullmodal2 .full-modal .btn {
    color: #FFC646;
}

#fullmodal3 .full-modal {
    background-color: #fe7572;
}

#fullmodal3 .full-modal .btn {
    color: #fe7572;
}

#fullmodal4 .full-modal {
    background-color: #71BFF1;
}

#fullmodal4 .full-modal .btn {
    color: #71BFF1;
}

#notification .code,
#notification .text {
    margin-left: 20px;
    margin-bottom: 40px;
}

#notification1 pre {
    margin: 20px 0;
}

#notification1 pre:last-child {
    margin-bottom: 0;
}

#notifications-wrapper .notification {
    padding: 0;
    background: #6F6486;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    right: 40px;
    width: 320px;
    text-shadow: 0 0 0;
}

#notifications-wrapper .notification .notification-img {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

#notifications-wrapper .notification .notification-content {
    padding: 10px 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#not .not {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 20px;
    box-shadow: 4px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

#not .not .right {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding: 30px;
}

#not .not .right h1 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 2px;
}

#not .not .right p {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-style: italic;
}

#not .not .left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#not .not .left i {
    font-size: 34px;
    margin-top: 26px;
    color: #fff;
}

#not .facebook {
    background-color: #3F51B5;
}

#not .twitter {
    background-color: #71BFF1;
}

#not .android {
    background-color: #FFC646;
}

#not .github {
    background-color: #fe7572;
}

#not .apple {
    background-color: #232323;
}

#not .behance {
    background-color: lightgreen;
}

.tabs .tab-head .nav-tabs {
    border: 0;
}

.tabs .tab-head .nav-tabs .nav-item {
    border: 0;
    margin: 0;
}

.tabs .tab-head .nav-tabs .nav-link {
    border: 0;
}

.tabs .tab-head .active {
    background-color: #6F6486;
    border: 0;
}

.tabs .tab-head a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #232323;
}

.tabs .tab-head a:hover {
    border: 0;
}

.tabs .tab-head a.active {
    color: #fff;
}

.tabs .tab-content {
    border: 0;
    margin-top: 30px;
}

.tabs .tab-content p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
}

.tab-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tab-left .tab-content {
    margin-top: 0;
    margin-left: 20px;
}

.tab-left .tab-head a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tab-line .tab-head {
    background-color: #6F6486;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-line .tab-head ul li a {
    color: #fff;
}

.tab-line .tab-head ul li a.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
}

.tab-line-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab-line-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tab-line-left .tab-content {
    margin-top: 0;
    margin-left: 20px;
}

.tab-line-left .tab-head {
    background-color: #6F6486;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tab-line-left .tab-head a {
    color: #fff;
}

.tab-line-left .tab-head a.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.tab-bottom .tab-head a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab-bottom .tab-content {
    margin: 0 0 30px 0;
}

.tab-right .tab-head {
    text-align: right;
}

.tab-right .tab-head a {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}

.tab-right .tab-content {
    text-align: right;
    margin: 0 30px 0 0;
}

.progress-default .progress {
    margin-bottom: 15px;
    background-color: #efefef;
}

.progress-default .progress:last-child {
    margin-bottom: 0;
}

.progress-default .progress .progress-bar {
    background: #6F6486;
}

.s-color .bg-primary {
    background-color: #6F6486 !important;
}

.s-color .bg-success {
    background-color: #71BFF1 !important;
}

.s-color .bg-info {
    background-color: #FFC646 !important;
}

.s-color .bg-warning {
    background-color: #fe7572 !important;
}

.s-color .bg-danger {
    background-color: #232323 !important;
}

#validator .form {
    display: block;
    margin-bottom: 30px;
}

#validator .form input {
    margin: 0;
}

#validator .form span.input-group-addon {
    border: 3px solid #efefef;
    background-color: #efefef;
}

#validator .form button {
    padding: 20px;
    cursor: pointer;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px;
}

.form p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 8px;
}

.form input {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    border: 3px solid #efefef;
    border-radius: 0;
    margin-bottom: 30px;
    color: #6F6486 !important;
}

.form textarea {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    border: 3px solid #efefef;
    border-radius: 0;
    margin-bottom: 30px;
    color: #6F6486 !important;
}

.form textarea:hover,
.form textarea:active,
.form textarea:focus {
    border: 3px solid #6F6486;
}

.form input.success {
    border-color: #6F6486;
    color: #6F6486 !important;
}

.form input.info {
    border-color: #71BFF1;
    color: #71BFF1 !important;
}

.form input.warning {
    border-color: #FFC646;
    color: #FFC646 !important;
}

.form input.danger {
    border-color: #fe7572;
    color: #fe7572 !important;
}

.form input.black {
    border-color: #232323;
    color: #232323 !important;
}

.x-form input {
    padding: 20px;
}

.xx-form input {
    padding: 30px;
}

.xxx-form input {
    padding: 40px;
}

.xxxx-form input {
    padding: 50px;
}

.uplode input.up {
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
}

.uplode label {
    text-align: center;
    cursor: pointer;
}

.uplode label span {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 14px;
}

.valed {
    border: 3px solid red;
}

#submit-valed {
    width: 20% !important;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#myDropzone {
    padding: 80px;
    border: 1px dashed #6F6486;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    font-weight: 600;
    letter-spacing: 2px;
}

#myDropzone input {
    visibility: hidden;
    position: absolute;
}

#mypeity .peityChart {
    padding-right: 40px;
}


/* start google map */

#google-map iframe {
    border-radius: 5px;
}


/* end google map */


/* start viector map */

#v-map .jqvmap-zoomin,
#v-map .jqvmap-zoomout {
    width: 20px;
    height: 20px;
    background-color: #6F6486;
}

#v-map .jqvmap-zoomout {
    margin-top: 10px;
}


/* end viector map */


/* start email inbox */

#myinbox .top .btns .active {
    border-bottom: 1px solid #6F6486;
}

#myinbox .top .btns .btn {
    width: auto;
    color: #6F6486;
    background-color: #fff;
    border-radius: 0;
    padding: 30px 20px;
    margin: 0 10px;
}

#myinbox .top .icons {
    border-top: 1px solid #efefef;
    text-align: right;
}

#myinbox .top .icons .zmdi {
    padding: 28px;
    font-size: 25px;
    border-left: 1px solid #efefef;
    margin: 0;
}

#myinbox .bottom {
    border-top: 1px solid #efefef;
}

#myinbox .bottom .left {
    padding: 30px 0 0 30px;
}

#myinbox .bottom .left .compose {
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

#myinbox .bottom .left h1 {
    color: #232323;
    margin: 30px 0;
}

#myinbox .bottom .left ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#myinbox .bottom .left ul.nav li.nav-item a.nav-link {
    color: #6F6486;
    border-radius: 5px;
    transition: all 0.333s;
}

#myinbox .bottom .left ul.nav li.nav-item a.nav-link:hover {
    background-color: #efefef;
}

#myinbox .bottom .left ul.fav .badge {
    margin-right: 10px;
}

#myinbox .bottom .right {
    border-left: 1px solid #efefef;
}

#myinbox .bottom .right .wrapper .top {
    padding: 30px;
}

#myinbox .bottom .right .wrapper .top .icon .zmdi {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 10px 14px;
    cursor: pointer;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .top .icon .zmdi:hover {
    color: #6F6486;
    background-color: #fff;
}

#myinbox .bottom .right .wrapper .top .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#myinbox .bottom .right .wrapper .top .btns .btn {
    width: auto;
    padding: 10px;
    border: 1px solid #efefef;
}

#myinbox .bottom .right .wrapper .top .by {
    text-align: right;
}

#myinbox .bottom .right .wrapper .bottom h1 {
    color: #232323;
}

#myinbox .bottom .right .wrapper .bottom .email {
    border-bottom: 1px solid #efefef;
    padding: 20px;
    transition: all 0.333s;
    cursor: pointer;
}

#myinbox .bottom .right .wrapper .bottom .email:hover .img {
    border: 1px solid #6F6486;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .email:hover .img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .email:hover h1,
#myinbox .bottom .right .wrapper .bottom .email:hover p {
    color: #6F6486;
}

#myinbox .bottom .right .wrapper .bottom .email .img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .email .img img {
    width: 100%;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .email .text {
    display: block;
    margin: 0;
    padding: 0;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .email .text h1 {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .email .text p {
    font-weight: 400;
    font-style: italic;
    transition: all 0.333s;
}

#myinbox .bottom .right .wrapper .bottom .single-email .title {
    padding: 40px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .title h1 {
    font-size: 20px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .type {
    margin-left: 40px;
    margin-bottom: 30px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .type .badge {
    margin-left: 10px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#myinbox .bottom .right .wrapper .bottom .single-email .info .img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 30px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .info .img img {
    width: 100%;
}

#myinbox .bottom .right .wrapper .bottom .single-email .info .text-card {
    margin: 14px 20px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .post {
    margin: 0 40px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .post p {
    font-weight: 400;
    margin-bottom: 20px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .attachments {
    margin-left: 40px;
    padding-top: 20px;
    border-top: 1px solid #efefef;
    margin-bottom: 30px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .attachments .head {
    margin-bottom: 20px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .attachments .attch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#myinbox .bottom .right .wrapper .bottom .single-email .attachments .attch .img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

#myinbox .bottom .right .wrapper .bottom .single-email .attachments .attch .img img {
    height: 100%;
    opacity: 0.8;
    transition: all 0.333s;
    cursor: pointer;
}

#myinbox .bottom .right .wrapper .bottom .single-email .attachments .attch .img img:hover {
    opacity: 1;
}

#myinbox .bottom .right .wrapper .bottom .send-email {
    padding: 30px;
}

#myinbox .bottom .right .wrapper .bottom .send-email .form:last-child {
    float: right;
}

#myinbox .bottom .right .wrapper .bottom .send-email .form textarea {
    padding: 10px;
}

#myinbox .bottom .right .wrapper .bottom .send-email .form .btn {
    width: auto;
    padding: 10px 40px;
    text-align: right !important;
    float: right !important;
}

#inbox .top {
    border-bottom: 1px solid #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#inbox .top .left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#inbox .top .left a.btn {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    border-radius: 0;
    color: #6F6486;
    font-size: 15px;
    padding: 20px 0;
    transition: all 0.333s;
}

#inbox .top .left a.btn:hover,
#inbox .top .left a.btn:active,
#inbox .top .left a.btn:focus {
    border-bottom: 1px solid #6F6486;
}

#inbox .top .left a.active {
    border-bottom: 1px solid #6F6486;
}

#inbox .top .center {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#inbox .top .right {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

#inbox .top .right .left {
    float: left;
    margin-right: 355px;
}

#inbox .top .right .left a.btn-info {
    padding: 21px 40px;
    border-radius: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
}

#inbox .top .right .left a.btn-info:hover,
#inbox .top .right .left a.btn-info:active,
#inbox .top .right .left a.btn-info:focus {
    border-bottom: 0;
}

#inbox .top .right .right {
    float: right;
    text-align: right;
}

#inbox .top .right .right span.zmdi {
    font-size: 28px;
    padding: 20px;
    color: #232323;
    border-left: 1px solid #efefef;
    transition: all 0.333s;
}

#inbox .top .right .right span.zmdi:hover {
    color: #6F6486;
}

#inbox .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#inbox .list .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px solid #efefef;
    padding: 40px;
}

#inbox .list .left .compose {
    margin-bottom: 50px;
    cursor: pointer;
}

#inbox .list .left ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 50px;
}

#inbox .list .left ul.nav h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#inbox .list .left ul.nav li a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    transition: all 0.333s;
    text-transform: capitalize;
}

#inbox .list .left ul.nav li a:hover {
    background-color: #efefef;
    border-radius: 5px;
}

#inbox .list .left ul.nav li .zmdi {
    margin-right: 6px;
}

#inbox .list .left ul.fav li a {
    color: #232323;
}

#inbox .list .left ul.fav li .badge {
    float: right;
}

#inbox .list .right {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#inbox .list .right .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 40px;
}

#inbox .list .right .top .icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#inbox .list .right .top .icon i {
    padding: 10px 12px;
    background-color: #efefef;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.333s;
}

#inbox .list .right .top .icon i:hover {
    background-color: #fff;
    color: #6F6486;
}

#inbox .list .right .top .by {
    margin-top: 10px;
}

#inbox .list .right .top .by a {
    color: #6F6486;
}

#inbox .list .right .top .btns {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#inbox .list .right .top .btns .btn {
    width: auto !important;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #efefef;
    color: #232323;
    margin-right: 10px;
}

#inbox .list .right .top .title {
    padding-top: 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#inbox .list .right .top .title h1 {
    color: #232323;
    font-size: 20px;
}

#inbox .list .right .bottom .email {
    border-bottom: 1px solid #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 20px;
    cursor: pointer;
    transition: all 0.222s;
}

#inbox .list .right .bottom .email:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

#inbox .list .right .bottom .email:hover h1,
#inbox .list .right .bottom .email:hover p {
    color: #6F6486 !important;
}

#inbox .list .right .bottom .email:hover .img {
    border: 1px solid #6F6486;
}

#inbox .list .right .bottom .email:hover .img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#inbox .list .right .bottom .email .img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.01);
    transition: all 0.222s;
}

#inbox .list .right .bottom .email .img img {
    width: 100%;
    transition: all 0.222s;
}

#inbox .list .right .bottom .email .text {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 0 20px;
    padding: 0;
    transition: all 0.222s;
}

#inbox .list .right .bottom .email .text h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: all 0.222s;
}

#inbox .list .right .bottom .email .text p {
    line-height: 20px;
    font-weight: 400;
    transition: all 0.222s;
}

#inbox .list .right .bottom .email .date {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    margin-top: 10px;
}

#inbox .list .right .bottom .email .date h1 {
    color: #232323;
    transition: all 0.222s;
}

#inbox .list .right .bottom .single-email {
    padding: 40px 30px 20px 30px;
}

#inbox .list .right .bottom .single-email .title h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-size: 20px;
    letter-spacing: 2px;
}

#inbox .list .right .bottom .single-email .type span {
    margin-top: 20px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

#inbox .list .right .bottom .single-email .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}

#inbox .list .right .bottom .single-email .info .img {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}

#inbox .list .right .bottom .single-email .info .img img {
    width: 100%;
}

#inbox .list .right .bottom .single-email .info .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
}

#inbox .list .right .bottom .single-email .info .text h1,
#inbox .list .right .bottom .single-email .info .text p {
    padding: 0;
    margin: 0;
}

#inbox .list .right .bottom .single-email .info .text h1 {
    font-weight: 600;
    font-size: 16px;
}

#inbox .list .right .bottom .single-email .post {
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #efefef;
}

#inbox .list .right .bottom .single-email .post p {
    font-weight: 400;
    margin-bottom: 20px;
}

#inbox .list .right .bottom .single-email .post p:last-child {
    margin-bottom: 0;
}

#inbox .list .right .bottom .single-email .attachments {
    margin-top: 20px;
}

#inbox .list .right .bottom .single-email .attachments .head {
    margin-bottom: 20px;
}

#inbox .list .right .bottom .single-email .attachments .head h1 {
    color: #232323;
    font-size: 16px;
}

#inbox .list .right .bottom .single-email .attachments .attch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 0 20px 0;
}

#inbox .list .right .bottom .single-email .attachments .attch .img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 20px;
}

#inbox .list .right .bottom .single-email .attachments .attch .img img {
    height: 100%;
    cursor: pointer;
    transition: all 0.333s;
}

#inbox .list .right .bottom .single-email .attachments .attch .img img:hover {
    opacity: 0.8;
}

#inbox .list .right .bottom .compose-email {
    padding: 40px;
}

#inbox .list .right .bottom .compose-email .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

#inbox .list .right .bottom .compose-email .form .text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    margin: 0;
}

#inbox .list .right .bottom .compose-email .form .right {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    margin: 0;
    padding: 0;
}

#inbox .list .right .bottom .compose-email .btn {
    width: auto;
    padding: 15px 80px;
    float: right;
    margin-left: 30px;
}


/* end email inbox */


/* start calinder */

#calender {
    padding-top: 30px;
}

#calender p {
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
}

#calender .fc-toolbar .fc-right button {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    text-transform: capitalize;
    box-shadow: 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.333s;
}

#calender .fc-toolbar .fc-right button:hover {
    background-color: #fff;
    border: 1px solid #6F6486;
    color: #6F6486;
}

#calender .fc-view .fc-head {
    background-color: #fff;
}

#calender .fc-view .fc-head .fc-day-header {
    border: 0 !important;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    font-weight: 400;
}

#calender .fc-view .fc-head .fc-head-container {
    border: 0;
    padding: 10px 0;
}

#calender .fc-view .fc-body .fc-event-container a {
    background-color: #6F6486;
    border: 0;
    padding: 4px 10px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #6F6486;
}

#calender .fc-view .fc-body .fc-event-container a.info {
    background-color: #71BFF1;
    box-shadow: 0px 0px 10px 1px #71BFF1;
}

#calender .fc-view .fc-body .fc-event-container a.danger {
    background-color: #FFC646;
    box-shadow: 0px 0px 10px 1px #FFC646;
}

#calender .fc-view .fc-body .fc-event-container a.primary {
    background-color: #fe7572;
    box-shadow: 0px 0px 10px 1px #fe7572;
}

#calender .fc-view .fc-body .fc-widget-content {
    border-color: #efefef;
    color: rgba(0, 0, 0, 0.2);
}

#calender .fc-view .fc-body .fc-widget-content .fc-day-number {
    padding: 10px 10px 0 0;
}

#calender .fc-view .fc-body .fc-state-highlight {
    background-color: #efefef;
}


/* end calinder */


/* start billing */

#billing .your-plan .wrraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#billing .your-plan .wrraper p {
    text-transform: uppercase;
}

#billing .your-plan .wrraper h1 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    font-size: 25px;
}

#billing .your-plan .wrraper .first {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    border-bottom-left-radius: 3px;
    border: 1px solid #efefef;
    border-bottom: 0;
    border-left: 0;
}

#billing .your-plan .wrraper .soc {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom-left-radius: 3px;
    border: 1px solid #efefef;
    border-bottom: 0;
    border-left: 0;
}

#billing .your-plan .wrraper .soc h1 {
    color: #71BFF1;
}

#billing .your-plan .wrraper .thr {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom-left-radius: 3px;
    border: 1px solid #efefef;
    border-bottom: 0;
    border-left: 0;
}

#billing .your-plan .wrraper .thr h1 {
    color: #FFC646;
}

#billing .hestory .table thead tr th {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    background-color: #efefef;
    color: #232323;
    font-weight: 600;
    letter-spacing: 1px;
}

#billing .hestory .table tbody tr td {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    text-transform: capitalize;
    font-size: 14px;
    border: 0;
    padding-top: 15px;
}

#billing .hestory .table tbody tr td a {
    color: #6F6486;
    text-decoration: none;
}

#billing .hestory .table tbody tr td.paid {
    color: #FFC646;
    font-weight: 600;
}

#billing .hestory .table tbody tr td.unpaid {
    font-weight: 600;
    color: #fe7572;
}

#billing .details .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#billing .details .wrapper .right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#billing .details .wrapper .right p {
    font-weight: 600;
}

#billing .details .wrapper .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#billing .details .wrapper .left h2 {
    opacity: 0.5;
}


/* end billing */


/* start invoicing */

#invoice .invoice-head .left .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);
}

#invoice .invoice-head .left .text h1 {
    font-size: 24px;
    color: #232323;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#invoice .invoice-head .left .text p {
    padding-right: 50px;
    margin: 0;
}

#invoice .invoice-head .right {
    float: right;
    margin-top: 30px;
    text-align: right;
}

#invoice .invoice-head .right h1 {
    font-size: 26px;
    color: #232323;
    margin-bottom: 20px;
}

#invoice .products {
    margin-top: 60px;
}

#invoice .products .table thead th {
    border: 0;
}

#invoice .products .table tbody tr th,
#invoice .products .table tbody tr td {
    border: 0;
    padding-top: 20px;
}

#invoice .colecting .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#invoice .colecting .left .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 20px;
}

#invoice .colecting .left .text h1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    color: #6F6486;
}

#invoice .paying .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
    margin-bottom: 40px;
}

#invoice .paying .btns .btn {
    width: auto;
    margin-right: 20px;
    margin-top: 50px;
}


/* end invoicing */


/* start orders history */

#order-history .big p.head {
    font-size: 18px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
}

#order-history .big .controls {
    margin-top: 30px;
}

#order-history .big .controls .left a {
    width: auto;
    padding: 12px 30px;
    border-radius: 0;
}

#order-history .big .controls .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
}

#order-history .big .controls .right .btn {
    width: auto;
    padding: 12px 30px;
    border-radius: 0;
    margin-right: 30px;
}

#order-history .big .controls .right .form {
    margin: 0;
    position: relative;
}

#order-history .big .controls .right .form input {
    padding-right: 100px;
}

#order-history .big .controls .right .form span.input-group-addon {
    border: 0;
    background-color: transparent;
    border-left: 0;
    font-size: 22px;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 4px;
    cursor: pointer;
}

#order-history .big .hestory {
    margin-top: 30px;
}

#order-history .big .hestory .card-body {
    margin-bottom: 0;
    padding-bottom: 0;
}


/* end orders history */


/* start profile page */

#profile .side {
    text-align: center;
}

#profile .side .img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

#profile .side .img img {
    height: 100%;
}

#profile .side .info h1 {
    color: #232323;
    font-size: 20px;
    margin: 20px 0;
}

#profile .side .info p a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    text-decoration: none;
    font-weight: 600;
}

#profile .side .info p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #232323;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

#profile .side .skils {
    text-align: left;
    border-top: 1px solid #efefef;
    padding-top: 40px;
    margin-top: 40px;
}

#profile .side .skils p {
    margin-bottom: 30px;
    font-size: 23px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}

#profile .side .skils .btn {
    width: auto;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #efefef;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    transition: all 0.333s;
}

#profile .side .skils .btn:hover {
    background-color: #6F6486;
    color: #fff;
    border: 1px solid #6F6486;
}

#profile .side .social {
    text-align: left;
    border-top: 1px solid #efefef;
    padding-top: 40px;
    margin-top: 40px;
}

#profile .side .social p {
    margin-bottom: 30px;
    font-size: 23px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}

#profile .side ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#profile .side ul.nav li a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6F6486;
    transition: all 0.333s;
}

#profile .side ul.nav li a .zmdi {
    margin-right: 10px;
}

#profile .side ul.nav li:hover {
    opacity: 0.5;
}

#profile .content .post .form textarea {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 10px 20px;
}

#profile .content .post .form .btn {
    width: auto;
    margin-right: 20px;
}

#profile .content .post .form .btn-secondary {
    border: 1px solid #efefef;
    background-color: #fff;
    transition: all 0.333s;
    margin-right: 10px;
}

#profile .content .post .form .btn-secondary:hover {
    background-color: #6F6486;
    border: 1px solid #6F6486;
}

#profile .content .post .form .btn-secondary:hover .zmdi {
    color: #fff;
}

#profile .content .post .form .btn-secondary .zmdi {
    padding: 0;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.333s;
}


/* start experience */

#experience .card-head {
    border-bottom: 1px solid #efefef;
}

#experience .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 30px 0 !important;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
}

#experience .text:last-child {
    padding: 0;
    margin: 0 !important;
    border: 0;
}

#experience .text h1 {
    font-size: 18px;
    color: #6F6486 !important;
    font-weight: 400 !important;
    margin-bottom: 10px;
}

#experience .text h2 {
    margin-bottom: 6px;
}

#experience .text h3 {
    color: rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 10px;
}

#experience .text p {
    color: rgba(0, 0, 0, 0.4) !important;
    font-weight: 500;
    line-height: 18px !important;
}


/* end experience */


/* start timeline */

#timeline ul.timeline {
    margin: 0;
    padding: 0;
    position: relative;
}

#timeline ul.timeline:before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 0;
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
    left: 120px;
}

#timeline ul.timeline li.timeline-item {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

#timeline ul.timeline li.timeline-item:last-child {
    margin-bottom: 0;
}

#timeline ul.timeline li.timeline-item:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 113px;
    width: 16px;
    height: 16px;
    background-color: #6F6486;
    border-radius: 50%;
}

#timeline ul.timeline li.timeline-item .timeline-date {
    -webkit-box-flex: 1.4;
    -ms-flex: 1.4;
    flex: 1.4;
    margin-top: 12px;
}

#timeline ul.timeline li.timeline-item .timeline-content {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

#timeline ul.timeline li.timeline-item .timeline-content .timeline-avatar {
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

#timeline ul.timeline li.timeline-item .timeline-content .timeline-avatar img {
    height: 100%;
}

#timeline ul.timeline li.timeline-item .timeline-content .timeline-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#timeline ul.timeline li.timeline-item .timeline-content .timeline-header .first {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#timeline ul.timeline li.timeline-item .timeline-content .timeline-header .bottom {
    float: left;
}

#timeline ul.timeline li.timeline-item .timeline-content .timeline-fotter p {
    font-weight: 300;
}

#timeline .card-head {
    border-bottom: 1px solid #efefef;
}


/* end timeline */


/* end profile page */


/* start fqa page */

#fqa p.head {
    font-size: 22px;
    margin-bottom: 10px;
}

#fqa .head-ask {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

#fqa .head-ask .icon {
    margin-top: 40px;
}

#fqa .head-ask .icon .zmdi {
    font-size: 30px;
    padding: 20px 40px;
    border: 3px solid #efefef;
    border-radius: 5px;
}

#fqa .head-ask .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
}

#fqa .head-ask .text h1 {
    font-size: 22px;
    font-weight: 600 !important;
    margin-bottom: 20px;
}

#fqa .head-ask .text p {
    font-weight: 300;
    line-height: 20px;
}

#fqa .head-ask .btn {
    width: auto !important;
    margin-bottom: 30px;
    padding: 12px 30px;
    background-color: #232323;
}

#fqa .head-ask .btn:hover {
    color: #fff;
    opacity: 0.8;
}

#fqa .asks {
    margin-top: 30px;
}

#fqa .asks .card p.head {
    font-weight: 600;
}

#fqa .asks .card p {
    font-weight: 400;
}


/* end fqa page */


/* start pricing page */

#price .head {
    text-align: center;
    margin-top: 50px;
}

#price .head h1 {
    color: #232323;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

#price .head p {
    color: #232323;
    font-weight: 300;
    margin-top: 20px;
    line-height: 22px;
}

#price .tables {
    margin-top: 40px;
    text-align: center;
}

#price .tables .teable-head {
    background-color: rgba(0, 0, 0, 0.02);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

#price .tables .teable-head p.h {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

#price .tables .teable-head h1 {
    color: #232323;
    font-size: 62px;
    margin: 40px 0;
}

#price .tables .teable-head p {
    margin-left: 70px;
}

#price .tables .table-body {
    margin: 40px;
    text-align: left;
}

#price .tables .table-body p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

#price .tables .table-body .btn {
    margin: 30px 0 0 0;
    padding: 20px;
}


/* start pricing page */


/* start ex spicle pages */

#ex-page {
    background: #6F6486;
    width: 100%;
    padding: 200px 0;
}

#ex-page .logo-wrapper {
    display: none;
    margin: 0 auto;
}

#ex-page .logo-wrapper .logo {
    width: 130px;
    height: 40px;
    overflow: hidden;
    text-align: center;
}

#ex-page .logo-wrapper .logo img {
    height: 100%;
    width: 100%;
}

#ex-page .card {
    margin: 60px 30px 0 30px;
    border: 0;
    color: #232323;
}

#ex-page .card .text {
    text-align: center;
    border-bottom: 1px solid #efefef;
    padding: 30px;
    margin-bottom: 30px;
}

#ex-page .card .text p {
    color: #232323;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

#ex-page .card .text p::after {
    position: absolute;
    content: '';
    background-color: #6F6486;
    width: 122px;
    height: 3px;
    right: 34%;
    top: 40px;
}

#ex-page .card .inputs {
    padding: 30px 30px;
}

#ex-page .card .inputs .btn {
    width: 100%;
    padding: 12px;
}

#ex-page .home {
    margin-left: 12px;
    margin-top: 30px;
}

#ex-page .home .btn {
    background-color: transparent;
}

#ex-page .img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
    border: 2px solid #6F6486;
}

#ex-page .img img {
    width: 100%;
}

#ex-page .err {
    padding: 120px;
    text-align: center;
}

#ex-page .err h1 {
    color: #6F6486;
    font-size: 20px;
    margin-top: 100px;
}

#ex-page .err h2 {
    color: #232323;
    font-size: 14px;
    margin-top: 30px;
}

#ex-page .err p {
    color: #6F6486;
    font-size: 150px;
}

@media (max-width: 576px) {
    #ex-page .err {
        padding: 60px 0;
    }
    #ex-page .err p {
        padding-top: 30px;
    }
}


/* end ex spical pages */


/* start changeloge */

#changeloge .card-head {
    border-bottom: 1px solid #efefef;
}

#changeloge .card-head .left p {
    color: #232323;
    margin-top: 20px;
    font-size: 14px;
}

#changeloge .card-head .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 10px;
}

#changeloge .card-head .right p {
    color: rgba(0, 0, 0, 0.3);
    margin: 10px 16px 0 0;
}

#changeloge .card-head .right span {
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 2px 14px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

#changeloge .card-body p {
    font-weight: 400;
}

#changeloge .card-body pre {
    margin: 20px 0 0 0;
    color: #232323;
    font-size: 12px;
    font-weight: 300;
}


/* end changeloge */

#loading {
    background-color: rgba(126, 128, 231, 0.96);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
}

#loading p {
    text-align: center;
    margin-top: 26%;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 8px;
}

.text-o h1 {
    font-size: 30px;
    color: #232323;
    letter-spacing: 2px;
    line-height: 43px;
}

.text-o p {
    font-size: 16px;
    color: #232323;
    margin: 40px 0;
    font-weight: 300;
    line-height: 26px;
}

#landing-navbar .navbar {
    background-color: transparent;
    z-index: 1;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#landing-navbar .navbar .navbar-toggler {
    background-color: #fff;
    margin-top: 8px;
    cursor: pointer;
}

#landing-navbar .navbar .navbar-toggler .zmdi {
    color: #6F6486;
}

#landing-navbar .navbar .navbar-brand img {
    width: 50%;
    height: 50%;
}

#landing-navbar .navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    color: #fff;
    letter-spacing: 1px;
    padding: 30px 10px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.333s;
}

#landing-navbar .navbar .navbar-nav .nav-item .nav-link:hover {
    opacity: 0.6;
}

#landing-navbar .navbar .navbar-nav .nav-item .btn {
    background-color: #232323;
    color: #fff;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
}

#landing-hero {
    background: url("../../../src/img/bg-1.jpg") center center fixed;
    background-size: cover;
    position: relative;
    margin-top: -85px;
}

#landing-hero:before {
    content: '';
    position: absolute;
    background-color: #6F6486;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

#landing-hero .text {
    margin: 260px 0 60px 0;
    text-align: center;
}

#landing-hero .text h1 {
    font-size: 40px;
    margin-bottom: 40px;
    line-height: 50px;
}

#landing-hero .text p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

#landing-hero .img {
    width: 100%;
}

#landing-hero .img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px -20px 100px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.333s;
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
}

#landing-hero .img img:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

#about {
    background-color: #232323;
    padding: 60px 0 0 0;
}

#about .cards {
    padding: 50px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#about .cards .icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#about .cards .icon .zmdi {
    font-size: 30px;
    color: #6F6486;
}

#about .cards .text {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    margin-top: 10px;
}

#about .cards .text h1 {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 30px;
}

#about .cards .text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
}

#about .full-btn {
    margin-top: 40px;
}

#about .full-btn .btn {
    width: 100%;
    border-radius: 0;
    padding: 25px;
    text-transform: uppercase;
    background: linear-gradient(left, #6F6486, #3c3f93);
    cursor: pointer;
    font-size: 20px;
}

#about .full-btn .btn .zmdi {
    font-size: 20px;
    margin-right: 10px;
}

#intro {
    padding: 100px 0 40px 0;
    background-color: #fff;
}

#intro .head-section h1 {
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 70px;
    color: #232323;
    margin-bottom: 20px;
}

#intro .head-section p {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 100px;
}

#intro .text {
    margin-bottom: 60px;
}

#intro .text h1 {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #232323;
}

#intro .text p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #232323;
    margin-top: 40px;
}

#subscribe {
    padding: 100px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
}

#subscribe .text {
    margin-bottom: 60px;
}

#subscribe .text h1 {
    font-size: 30px;
    color: #232323;
    letter-spacing: 2px;
}

#subscribe .text p {
    font-size: 16px;
    color: #232323;
    margin: 40px 0;
    font-weight: 300;
}

#subscribe .s-form {
    padding: 0 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#subscribe .s-form input {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin-right: 30px;
    padding: 20px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #232323;
    text-transform: capitalize;
}

#subscribe .s-form input:hover,
#subscribe .s-form input:active,
#subscribe .s-form input:focus {
    outline: none;
}

#subscribe .s-form .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 22px;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 4px;
    border-radius: 0;
    background-color: #6F6486;
}

#plans {
    background-color: #fff;
    padding: 100px 0;
    border-top: 1px solid #efefef;
}

#plans .price {
    padding: 40px;
    margin: 0 40px;
    border-radius: 5px;
    border: 1px solid #efefef;
}

#plans .price h1 {
    font-size: 40px;
}

#service {
    background-color: #6F6486;
    padding: 100px 0;
    text-align: center;
}

#service p,
#service h1 {
    color: #fff;
    padding: 0 260px;
}

#service .btn {
    background-color: #fff;
    padding: 15px 40px;
    color: #6F6486;
}

#footer {
    background-color: #232323;
}

#footer p {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    padding: 50px 0;
}

#footer .social {
    text-align: right;
    padding: 40px 0;
}

#footer .social .zmdi {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #181818;
    cursor: pointer;
    transition: all 0.333s;
}

#footer .social .zmdi:hover {
    opacity: 0.5;
}

@media (max-width: 576px) {
    #subscribe {
        padding: 100px 0;
    }
    #subscribe h1,
    #subscribe p {
        line-height: 40px;
    }
    #subscribe .s-form {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #subscribe .s-form input {
        margin: 0 0 30px 0;
    }
    #landing-navbar .navbar {
        background-color: #4C4661;
    }
    #landing-navbar .navbar .btn {
        background-color: #232323;
        margin: 0 !important;
    }
    #plans .price {
        margin: 40px 0 0 0;
    }
    #service h1,
    #service p {
        padding: 0;
    }
    #footer p,
    #footer .social {
        text-align: center;
    }
}


/*# sourceMappingURL=app.css.map */